*{margin:0px;padding:0px;}
*::-moz-selection{background:#fff;color:#000;}
*::selection{background:#fff;color:#000;}
body{
    width:100vw;
    height:100vh;
    font-family:monospace;
    background:url("bg.gif");
    background-size:100% 100%;
    color:#fff;
    text-align:center;
}
body:after{
	width:100vw;
	display:block;
	content:"Wako";
	font-size:3.5em;
	line-height:100vh;
	text-shadow:2px 2px 1px #000;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 980px) {
	body:after{
		font-size:5em;
	}
}
