header {
  background: #3c3c3c;
  nav {
    ul {
      @media(max-width: 768px) {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        text-align: center;
      }
      li {
        display: inline-block;
        a {
          display: block;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}
