header {
  background: #3c3c3c;
  nav {
    ul {
      li {
        display: inline-block;
        @media(max-width: 768px) {
          width: 100%;
        }
        a {
          display: block;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}