section{
  ul {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    @media(max-width: 768px) {
      grid-template-columns: 50% 50%;
    }
    li {
      margin: 0 1rem;
      list-style-type: none;
      span {
        font-size: 0.75rem;
        @media(max-width: 768px) {
          width: 100%;
          display: block;
          padding: 0.25rem 0;
        }
      }
    }
  }
}
