<main>

  <section id="about">
    <h1>Rodrigo Patiño</h1>
    <h2>Full-stack Developer</h2>
    <h3>Ciudad de México</h3>

    <p>Email: <a href="mailto:contacto.rodrigo.patino@gmail.com?subject=Hello There!&amp;body=Hi Rodrigo, so I was looking at your website and...">contacto.rodrigo.patino@gmail.com</a></p>

    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius a veritatis error fugiat! Quis ipsam id delectus laborum dolorum? Consequatur amet harum magni quod aliquam necessitatibus, earum similique architecto. Commodi?</p>
    </article>
  </section>

  <section>

    <header>
      <h2>titulo de seccion</h2>
    </header>

    <article>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis commodi assumenda deserunt! Reiciendis magnam distinctio aliquam, commodi eum est asperiores, neque iure quidem, cupiditate nisi impedit recusandae ut? Consequatur, aspernatur!
    </article>

  </section>

  <section>
    <header>
      <h2>Open Source</h2>
    </header>

    <article>
      <ul>
        <li>
          <p><span>Nombre del proyecto</span> Descripcion del proyecto.</p>
        </li>
      </ul>
    </article>
  </section>



</main>
