<h2>CV</h2>

<main>
  <section>
    <h3>Experience</h3>
    <h4>XXX</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nihil unde sequi nostrum hic ea iusto exercitationem deserunt velit, incidunt facilis totam enim in, pariatur accusamus inventore? Sunt, eaque dolorum.</p>
  </section>

  <section>
    <h3>FOSS</h3>
    <h4>
      <a href="https://github.com/alexadam/glitch-studio" target="_blank" rel="noopener">Gifsy</a>
    </h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, amet eaque non recusandae, magni illo dolorum quidem dolore totam ex tempora adipisci consectetur possimus autem itaque minima dolorem beatae necessitatibus.
    </p>
    <h4>
      <a href="https://github.com/jpoz/glitch" target="_blank" rel="noopener">Glitch</a>
    </h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, amet eaque non recusandae, magni illo dolorum quidem dolore totam ex tempora adipisci consectetur possimus autem itaque minima dolorem beatae necessitatibus.
    </p>
    <h4>
    </h4>
    <a href="https://nostalgic-css.github.io/NES.css/" target="_blank" rel="noopener">NES.css</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, amet eaque non recusandae, magni illo dolorum quidem dolore totam ex tempora adipisci consectetur possimus autem itaque minima dolorem beatae necessitatibus.
    </p>
  </section>

  <section>
    <h3>Skills</h3>
    <ul>
      <li *ngFor="let skill of skills">{{skill}}</li>
    </ul>
  </section>


</main>

<p>
  <a href="" target="_blank" rel="noopener">Download</a>
</p>