<main>

  <section id="about">
    <h1>Rodrigo Patiño</h1>
    <h2>Full-stack Developer</h2>
    <h3>Ciudad de México</h3>

    <address>
      <a href="mailto:contacto.rodrigo.patino@gmail.com?subject=Hello There!&amp;body=Hola, Rodrigo. Estaba checando tu CV..."><fa-icon [icon]="faEnvelope"></fa-icon> contacto.rodrigo.patino@gmail.com</a>
      <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/rodrigo-pati%C3%B1o-38924a186/"><fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn</a>
      <a target="_blank" rel="noopener" href="https://twitter.com/akkonomi"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
      <a target="_blank" rel="noopener" href="https://github.com/4k1k0"><fa-icon [icon]="faGithub"></fa-icon> Github</a>
    </address>

    <article>
      <p>Comencé a aprender sobre desarrollo web en la época de MySpace, Fue ahí fue donde aprendí lo básico de HTML, CSS y Javascript. Esta curiosidad me llevo a conocer sobre el software libre y open source, sistemas operativos y lenguajes de programación.</p>
      <p>En la actualidad he trabajado en diferentes tecnologías y he probado muchas otras con fines académicos. En un futuro quiero trabajar profesionalmente con Golang o Elixir.</p>
    </article>
  </section>

  <section id="skills">
    <header>
      <h2>Skills</h2>
    </header>
    <ul>
      <li *ngFor="let skill of skills">
        {{ skill }}
      </li>
    </ul>
  </section>

  <section id="experience">
    <header>
      <h2>Experiencia</h2>
    </header>

    <article>
      <header>
        <h3>Back-end developer</h3>
        <h4>Arcsa</h4>
        <time datetime="2018-10-01">Abril 2019</time> - Actual
      </header>
      <ul>
        <li>Líder de equipo.</li>
        <li>Capacitar a miembros del equipo en herramientas como Git o GitHub.</li>
        <li>Dar mantenimiento código legado y reducir deuda técnica.</li>
        <li>Comunicación directa con diferentes equipos administrativos.</li>
        <li>Despliegue de software a entornos de desarrollo y producción.</li>
        <li>Toma de decisiones técnicas.</li>
        <li>Diseño de API RESTs y bases de datos.</li>
        <li>Escribir documentación.</li>
        <li>Comunicar decisiones del modelo de negocio al equipo de desarrollo.</li>
      </ul>
      <ul class="keywords">
        <li>Desarrollo de software</li>
        <li>e-commerce</li>
        <li>Market Place</li>
        <li>Node.js</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>TypeScript</li>
        <li>WebSockets</li>
      </ul>
    </article>

    <article>
      <header>
        <h3>Full-stack developer</h3>
        <h4>Arcsa</h4>
        <time datetime="2018-10-01">Octubre 2018</time> - <time datetime="2019-04-01">Abril 2019</time>
      </header>
      <ul>
        <li>Líder de equipo.</li>
        <li>Capacitar a miembros del equipo en herramientas como Git o GitHub.</li>
        <li>Mantener proyectos de Angular.</li>
        <li>Añadir funcionalidades a back-end escrito en Javascript.</li>
        <li>Desarrollo de herramientas internas utilizando Angular y Node.js</li>
        <li>Entrevistas técnicas para diseñadores, desarrolladores de aplicaciones móviles y front-end.</li>
        <li>Entrenamiento del equipo de front-end.</li>
      </ul>
      <ul class="keywords">
        <li>Angular</li>
        <li>Desarrollo de software</li>
        <li>e-commerce</li>
        <li>Market Place</li>
        <li>Node.js</li>
        <li>SQL</li>
        <li>TypeScript</li>
      </ul>
    </article>

    <article>
      <header>
        <h3>Full-stack developer y SysAdmin</h3>
        <h4>Pugsarrollos</h4>
        <time datetime="2017-04-01">Abril 2017</time> - <time datetime="2018-10-01">Octubre 2018</time>
      </header>
      <ul>
        <li>Adminstración de servidores GNU/Linux para despliegue de sitios web y tiendas tipo e-commerce.</li>
        <li>Desarrollo de diferentes scripts de Bash para automatizar tareas de mantenimiento y backup.</li>
        <li>Desarrollo de plantillas de Wordpress para diferentes tipos de clientes.</li>
        <li>Desarrollo de aplicaciones web utilizando Angular y Firebase.</li>
      </ul>
      <ul class="keywords">
        <li>Angular</li>
        <li>AWS</li>
        <li>Bash</li>
        <li>Digital Ocean</li>
        <li>e-commerce</li>
        <li>Firebase</li>
        <li>MySQL</li>
        <li>PHP</li>
        <li>TypeScript</li>
        <li>Wordpress</li>
      </ul>
    </article>

    <article>
      <header>
        <h3>Freelance</h3>
        <h4>Independiente</h4>
        <time datetime="2013-01-01">2013</time> - <time datetime="2015-01-01">2015</time>
      </header>
      <ul>
        <li>Desarrollo de templates de Wordpress y landing pages con HTML.</li>
        <li>Modificación de estilo a sitios web.</li>
      </ul>
      <ul class="keywords">
        <li>HTML</li>
        <li>MySQL</li>
        <li>Wordpress</li>
      </ul>
    </article>

  </section>

  <section id="foss">
    <header>
      <h2>Open Source</h2>
    </header>

    <article>
      <ul>
        <li><span>NES.css</span>Framework CSS con aspecto de videojuegos de la consola Nintendo NES</li>
        <li><span>Gin Examples</span>Repositorio oficial de ejemplos del framework Gin.</li>
        <li><span>Glitch</span>Software escrito en Golang para hacer arte generativo utilizando imágenes.</li>
        <li><span>Gifsy</span>Script de Bash para hacer arte generativo utiliando una imagen para generar un Gif.</li>
      </ul>
    </article>
  </section>

  <section id="volunteering">
    <header>
      <h2>Voluntariado</h2>
    </header>

    <article>
      <ul>
        <li><span>Staff en FLISOL</span>Ser parte del staff de los eventos, realizar instalaciones de sistemas operativos y compartir software libre para sistemas operativos privativos.</li>
        <li><span>Mentor Laboratoria</span>Realizar entrevistas técnicas de práctica a las estudiantes y apoyarlas con documentación o tips en caso de que lo requieran.</li>
      </ul>
    </article>
  </section>

</main>
