$verde: #60b48a;
$amarillo: #f0dfaf;

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem 0;
  @media(max-width: 768px) {
    grid-template-columns: 100%;
  }
  app-intro, app-skills, app-experience-list {
    width: 50%;
    border-bottom: 1px solid $verde;
    padding: 0.5rem 0;
    &:first-child, &:last-child {
      border-bottom: none;
    }
    @media(max-width: 768px) {
      width: 100%;
      padding: 1rem 0;
    }
  }
  section {
    &#about {
      h1, h2, h3 {
        text-align: left;
      }
      h1 {
        color: $amarillo;
        font-size: 2rem;

      }
      address, article {
        margin-top: 1rem;
      }
      address {
          @media(max-width: 768px) {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
          }
          a {
            padding: 0.25rem 0.5rem;
            @media(max-width: 768px) {
              font-size: 0.9rem;
              text-align: center;
              padding: 0.25rem 0;
              &:first-child {
                grid-column-start: 1;
                grid-column-end: 4;
              }
            }
            fa-icon {
              color: #fff;
              @media(max-width: 768px) {
                font-size: 1.5rem;
              }
            }
          }
      }
      article {
        background: $verde;
        padding: 1rem 0.5rem;
        p {
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    header {
      h2 {
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.5rem 0;
        color: $verde;
      }
    }
    &#experience, &#volunteering, &#education {
      article {
        header {
          padding-bottom: 0.5rem;
          h3 {
            color: $amarillo;
          }
        }
        ul {
          li {
            list-style-type: disc;
            margin-left: 1.5rem;
            margin-bottom: 0.25rem;
          }
        }
        .keywords {
          padding: 0.5rem 0;
          li {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            background: $verde;
            margin: 0.25rem;
            text-transform: lowercase;
          }
        }
        p {
          padding-bottom: 0.5rem;
        }
      }
    }
    &#foss {
      article {
        ul {
          li {
            list-style: none;
            padding-bottom: 0.25rem;
            display: block;
            &:last-child {
              padding-bottom: 0;
            }
            span {
              color: $amarillo;
              font-size: 1rem;
              padding: 0.25rem 0;
              padding-right: 0.5rem;
              font-weight: 600;
            }
          }
        }
      }
    }
    &#education, &#volunteering {
      article {
        header {
          h3 {
            display: inline-block;
            padding-right: 0.5rem;
          }
        }
      }
    }
    &#languages {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      & > header {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      article {
        header {
          text-align: center;
          h3, h4 {
            display: inline-block;
          }
          h3 {
            padding-right: 0.25rem;
            font-size: 1rem;
            color: $amarillo;
          }
          h4 {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
