<picture>
  <source type="image/webp" srcset="./assets/img/face.webp">
  <source type="image/jpeg" srcset="./assets/img/face.jpg">
  <img src="./assets/img/face.jpg" alt="">
</picture>
<h2>
  Wako
</h2>
<div id="info">
  <p>
    Hello, I'm <span>Rodrigo Patiño</span> - net artist, full stack developer and mostly a human disaster.
  </p>
  <p>
    I code, setup Linux servers and deploy software to the web.
  </p>
  <p>
    Mostly I work with Node.js, Angular, and relational databases. I used to code in PHP 😳 and I know a little bit of Go, Elixir and C++ (along with other programming languages).
  </p>
  <p>
    You can drop me an <a href="mailto:contacto.rodrigo.patino@gmail.com?subject=Hello There!&amp;body=Hi Rodrigo, so I was looking at your website and...">email</a> or add me on <a href="https://www.linkedin.com/in/rodrigo-pati%C3%B1o-38924a186/" target="_blank" rel="noopener">LinkedIn</a>.
  </p>
</div>
