<section id="about">
  <h1>Rodrigo Patiño</h1>
  <h2>Full-stack Developer</h2>
  <h3>Ciudad de México</h3>

  <address>
    <a href="mailto:contacto.rodrigo.patino@gmail.com?subject=Hello There!&amp;body=Hola, Rodrigo. Estaba checando tu CV...">
      <fa-icon [icon]="faEnvelope"></fa-icon> contacto.rodrigo.patino@gmail.com
    </a>
    <a target="_blank" rel="noopener" [href]="socialLinks.Linkedin">
      <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
    </a>
    <a target="_blank" rel="noopener" [href]="socialLinks.Twitter"><fa-icon [icon]="faTwitter">

    </fa-icon> Twitter
    </a>
    <a target="_blank" rel="noopener" [href]="socialLinks.Github">
      <fa-icon [icon]="faGithub"></fa-icon> Github
    </a>
  </address>

  <article>
    <p>Soy un desarrollador web autodidacta con poco más de 4 años de experiencia. Comencé a aprender sobre desarrollo web en la época de MySpace; fue entonces cuando aprendí lo básico de HTML, CSS y Javascript. Esta curiosidad me llevo a conocer sobre el software libre y open source, sistemas operativos y lenguajes de programación.</p>
    <p>Actualmente he trabajado con diferentes tecnologías y he probado muchas otras con fines académicos. En el futuro me interesa trabajar profesionalmente con Golang o Elixir.</p>
  </article>
</section>
