/* You can add global styles to this file, and also import other style files */
 * {
   padding: 0;
   margin: 0;
 }

 body {
   background: #2c2c2c;
   color: #fff;
   a {
     color: #60b48a;
     text-decoration: none;
   }
 }